aniso8601==9.0.1
blinker==1.8.2
certifi==2024.2.2
click==8.1.7
dataclasses-json==0.6.6
Flask==3.0.3
Flask-Cors==4.0.1
Flask-Injector==0.15.0
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
importlib_metadata==7.1.0
injector==0.20.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
marshmallow==3.18.0
marshmallow-dataclass==8.4.2
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==0.24.3
mypy-extensions==1.0.0
mysqlclient==2.2.4
packaging==24.0
pytz==2024.1
sentry-sdk==0.19.5
six==1.16.0
SQLAlchemy==2.0.30
typing-inspect==0.9.0
typing_extensions==4.11.0
urllib3==2.2.1
Werkzeug==3.0.3
zipp==3.18.2
